doctype html 
html
    head Document
    body
        h1 JANARTHANAN
        p.
            This is a paragraph.
            and this is a new line
        ul  
            li This is Item 1
            li This is Item 2
            li This is Item 3
            li This is Item 4c
