body{
    font-size: 1.5rem;
}

.column{
    column-count: 4;
    column-width: 250px;
    column-rule: 2px solid black;
    column-gap: 3rem;
}

.column h2{
    margin-top: 0;
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    break-inside: avoid;
}

.quote{
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: aquamarine;
    column-span: all;
}

