body{
    font: size 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: papayawhip;
    color: rgb(47, 0, 255);
}

p{
    color: rgba(244, 51, 7,1);
}